.home {
  background: url("https://i.imgur.com/uDomL8L.png") no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;

  .container {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);

    .user {
      margin: 20px;
      text-align: center;
      display: grid;

      img {
        box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
        margin: auto auto 10px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }

      span {
        text-shadow: 3px 3px 5px rgba(0,0,0,0.2);
        color: #DCDCDC;
        font-size: 28px;
      }
    }

    .room {
      margin: auto;
      width: 450px;
      height: 250px;
      background: #1E2124;
      border-radius: 5px;
      box-shadow: 3px 3px 5px rgba(0,0,0,0.2);

      .options {
        width: 100%;

        .option {
          width: 50%;
          height: 50px;
          margin-top: 0;
          background: #282B30;
          color: #DCDCDC;
          border: none;
          outline: none;
          font-size: 18px;

          &.option-active {
            background-color: transparent;
          }
        }
      }

      input {
        font-size: 16px;
        height: 40px;
        width: 100%;
        margin-bottom: 10px;
        background: #282B30;
        color: #DCDCDC;
        border: none;
        outline: none;
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }

      .flex {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      button {
        font-size: 16px;
        height: 40px;
        width: 195px;
        background: #282B30;
        color: #DCDCDC;
        border: none;
        outline: none;
        border-radius: 5px;
      }

      .tab {
        display: none;

        &.tab-active {
          display: block;
        }
      }

      .join {
        width: 400px;
        margin: 40px auto auto;
      }

      .create {
        width: 400px;
        margin: 20px auto auto;
      }
    }

    .logins {
      width: 450px;
      margin: 10px auto auto;
      display: flex;
      justify-content: space-between;

      .login {
        border-radius: 5px;
        outline: none;
        border: none;
        width: 220px;
        height: 50px;
        background: #1E2124;
        color: white;
        font-size: 18px;
        box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
        text-align: left;
        padding: 14px;

        .icon {
          font-size: 24px;
          vertical-align: middle;
          padding-right: 10px;
        }
      }
    }
  }
}
